openapi: 3.2.0
info:
  title: Remote Companies Identity API
  description: 'Create and manage companies on the Remote.com platform. Customers and

    partners use this API to onboard new companies, retrieve compliance

    profiles, manage company managers and departments, configure SSO, and

    issue magic links for passwordless authentication.


    The Companies API is the entry point for every Remote integration. A

    company-scoped access token is required for nearly every other API call

    in the Remote ecosystem.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  termsOfService: https://remote.com/legal/terms
  license:
    name: Remote API Terms
    url: https://developer.remote.com/docs/api-terms
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Identity
  description: Inspect the identity of the current access token
paths:
  /identity:
    get:
      summary: Get Token Identity
      description: Shows the entities controllable by the current access token.
      operationId: getTokenIdentity
      tags:
      - Identity
      responses:
        '200':
          description: Identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
components:
  schemas:
    Identity:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - company
              - partner
              - employment
              - user
            company_id:
              type: string
              format: uuid
            partner_id:
              type: string
              format: uuid
            employment_id:
              type: string
              format: uuid
            user_id:
              type: string
              format: uuid
            scopes:
              type: array
              items:
                type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Company-scoped or partner-scoped OAuth 2.0 access token.
