openapi: 3.2.0
info:
  title: Remote Companies Magic Links API
  description: 'Create and manage companies on the Remote.com platform. Customers and

    partners use this API to onboard new companies, retrieve compliance

    profiles, manage company managers and departments, configure SSO, and

    issue magic links for passwordless authentication.


    The Companies API is the entry point for every Remote integration. A

    company-scoped access token is required for nearly every other API call

    in the Remote ecosystem.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  termsOfService: https://remote.com/legal/terms
  license:
    name: Remote API Terms
    url: https://developer.remote.com/docs/api-terms
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Magic Links
  description: Generate passwordless magic links for users and employees
paths:
  /magic_links:
    post:
      summary: Generate A Magic Link
      description: 'Generate a single-use magic link to log a user (`user_id`) or

        employee (`employment_id`) into Remote without a password.'
      operationId: generateMagicLink
      tags:
      - Magic Links
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkRequest'
      responses:
        '201':
          description: Magic link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicLinkResponse'
components:
  schemas:
    MagicLinkRequest:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        employment_id:
          type: string
          format: uuid
        timeout_in_minutes:
          type: integer
          minimum: 1
          maximum: 1440
          default: 15
        target_section:
          type: string
          description: Optional Remote UI section to deep-link to.
    MagicLinkResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            magic_link:
              type: string
              format: uri
            expires_at:
              type: string
              format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Company-scoped or partner-scoped OAuth 2.0 access token.
