openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Benefit Renewals API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Benefit Renewals
  description: Annual benefit-renewal requests
paths:
  /benefit_renewal_requests:
    get:
      summary: List Benefit Renewal Requests
      operationId: listBenefitRenewalRequests
      tags:
      - Benefit Renewals
      parameters:
      - name: country_code
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - in_progress
          - completed
          - expired
      responses:
        '200':
          description: Benefit renewal requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitRenewalList'
  /benefit_renewal_requests/{benefit_renewal_request_id}:
    parameters:
    - name: benefit_renewal_request_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Show A Benefit Renewal Request
      operationId: showBenefitRenewalRequest
      tags:
      - Benefit Renewals
      responses:
        '200':
          description: Benefit renewal request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitRenewalEnvelope'
  /benefit_renewal_requests/{benefit_renewal_request_id}/schema:
    parameters:
    - name: benefit_renewal_request_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Show A Benefit Renewal Request Schema
      operationId: showBenefitRenewalRequestSchema
      tags:
      - Benefit Renewals
      responses:
        '200':
          description: JSON Schema form.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /benefit_renewal_requests/{benefit_renewal_request_id}/response:
    parameters:
    - name: benefit_renewal_request_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      summary: Update A Benefit Renewal Request Response
      operationId: updateBenefitRenewalRequestResponse
      tags:
      - Benefit Renewals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitRenewalEnvelope'
components:
  schemas:
    BenefitRenewalEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            benefit_renewal_request:
              $ref: '#/components/schemas/BenefitRenewal'
    BenefitRenewal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        country_code:
          type: string
        status:
          type: string
          enum:
          - pending
          - in_progress
          - completed
          - expired
        renewal_period_start:
          type: string
          format: date
        renewal_period_end:
          type: string
          format: date
        response:
          type: object
          additionalProperties: true
    BenefitRenewalList:
      type: object
      properties:
        data:
          type: object
          properties:
            benefit_renewal_requests:
              type: array
              items:
                $ref: '#/components/schemas/BenefitRenewal'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
