openapi: 3.2.0
info:
  title: Remote Contractors Contractor Invoices API
  description: 'Manage contractors and Contractor-of-Record (COR) subscriptions on

    Remote.com.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Contractor Invoices
  description: List and inspect contractor invoices
paths:
  /contractor_invoices:
    get:
      summary: List Contractor Invoices
      operationId: listContractorInvoices
      tags:
      - Contractor Invoices
      parameters:
      - name: employment_id
        in: query
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - submitted
          - approved
          - paid
          - rejected
          - void
      responses:
        '200':
          description: Invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
  /contractor_invoices/{contractor_invoice_id}:
    parameters:
    - name: contractor_invoice_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Show A Contractor Invoice
      operationId: showContractorInvoice
      tags:
      - Contractor Invoices
      responses:
        '200':
          description: Invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceEnvelope'
components:
  schemas:
    InvoiceEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            contractor_invoice:
              $ref: '#/components/schemas/Invoice'
    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        employment_id:
          type: string
          format: uuid
        amount:
          type: integer
          description: Amount in smallest currency unit.
        currency:
          type: string
        status:
          type: string
          enum:
          - draft
          - submitted
          - approved
          - paid
          - rejected
          - void
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        issued_at:
          type: string
          format: date-time
    InvoiceList:
      type: object
      properties:
        data:
          type: object
          properties:
            contractor_invoices:
              type: array
              items:
                $ref: '#/components/schemas/Invoice'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
