openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Magic Links API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Magic Links
  description: Generate passwordless magic links for users and employees
paths:
  /magic_links:
    post:
      summary: Generate A Magic Link
      description: 'Generate a single-use magic link to log a user (`user_id`) or

        employee (`employment_id`) into Remote without a password.

        '
      operationId: generateMagicLink
      tags:
      - Magic Links
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkRequest'
      responses:
        '201':
          description: Magic link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicLinkResponse'
components:
  schemas:
    MagicLinkResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            magic_link:
              type: string
              format: uri
            expires_at:
              type: string
              format: date-time
    MagicLinkRequest:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        employment_id:
          type: string
          format: uuid
        timeout_in_minutes:
          type: integer
          minimum: 1
          maximum: 1440
          default: 15
        target_section:
          type: string
          description: Optional Remote UI section to deep-link to.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
