openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers SSO API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: SSO
  description: Configure SAML/OIDC single sign-on for a company
paths:
  /sso_configuration:
    get:
      summary: Show The Current SSO Configuration
      operationId: showSsoConfiguration
      tags:
      - SSO
      responses:
        '200':
          description: SSO configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
    post:
      summary: Create The SSO Configuration
      operationId: createSsoConfiguration
      tags:
      - SSO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoConfiguration'
      responses:
        '201':
          description: SSO configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
  /sso_configuration/details:
    get:
      summary: Show The SSO Configuration Details
      operationId: showSsoConfigurationDetails
      tags:
      - SSO
      responses:
        '200':
          description: SSO details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
components:
  schemas:
    SsoConfiguration:
      type: object
      properties:
        data:
          type: object
          properties:
            provider:
              type: string
              enum:
              - saml
              - oidc
            sso_url:
              type: string
              format: uri
            issuer:
              type: string
            x509_certificate:
              type: string
            enabled:
              type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
