openapi: 3.2.0
info:
  title: Remote Companies SSO API
  description: 'Create and manage companies on the Remote.com platform. Customers and

    partners use this API to onboard new companies, retrieve compliance

    profiles, manage company managers and departments, configure SSO, and

    issue magic links for passwordless authentication.


    The Companies API is the entry point for every Remote integration. A

    company-scoped access token is required for nearly every other API call

    in the Remote ecosystem.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  termsOfService: https://remote.com/legal/terms
  license:
    name: Remote API Terms
    url: https://developer.remote.com/docs/api-terms
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: SSO
  description: Configure SAML/OIDC single sign-on for a company
paths:
  /sso_configuration:
    get:
      summary: Show The Current SSO Configuration
      operationId: showSsoConfiguration
      tags:
      - SSO
      responses:
        '200':
          description: SSO configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
    post:
      summary: Create The SSO Configuration
      operationId: createSsoConfiguration
      tags:
      - SSO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoConfiguration'
      responses:
        '201':
          description: SSO configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
  /sso_configuration/details:
    get:
      summary: Show The SSO Configuration Details
      operationId: showSsoConfigurationDetails
      tags:
      - SSO
      responses:
        '200':
          description: SSO details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConfiguration'
components:
  schemas:
    SsoConfiguration:
      type: object
      properties:
        data:
          type: object
          properties:
            provider:
              type: string
              enum:
              - saml
              - oidc
            sso_url:
              type: string
              format: uri
            issuer:
              type: string
            x509_certificate:
              type: string
            enabled:
              type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Company-scoped or partner-scoped OAuth 2.0 access token.
