openapi: 3.2.0
info:
  title: Remote Employments Company Structure API
  description: 'Create and manage employment records across the EOR, Global Payroll, and

    PEO employment models on Remote.com. Endpoints cover the full employment

    lifecycle — onboarding, contract management, contract amendments,

    employment status transitions, identity verification, travel letters,

    work-authorization requests, and offboarding.


    Every Remote customer hiring through the platform owns one employment

    record per worker. This API is the authoritative source for that record.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Company Structure
  description: Reporting hierarchy and structure nodes for employees
paths:
  /company_structure_nodes:
    get:
      summary: List Company Structure Nodes
      operationId: listCompanyStructureNodes
      tags:
      - Company Structure
      parameters:
      - name: employment_id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Structure nodes.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
