openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Contract Documents API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Contract Documents
  description: Sign, retrieve, and manage employment contract documents
paths:
  /contract_documents:
    post:
      summary: Create A Contract Document
      operationId: createContractDocument
      tags:
      - Contract Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentEnvelope'
  /contract_documents/{contract_document_id}:
    parameters:
    - name: contract_document_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Show A Contract Document
      operationId: showContractDocument
      tags:
      - Contract Documents
      responses:
        '200':
          description: Contract document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentEnvelope'
  /contract_documents/{contract_document_id}/sign:
    parameters:
    - name: contract_document_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      summary: Sign A Contract Document
      operationId: signContractDocument
      tags:
      - Contract Documents
      responses:
        '200':
          description: Signed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentEnvelope'
components:
  schemas:
    ContractDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
        employment_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - draft
          - pending_signature
          - signed
          - voided
        document_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
    ContractDocumentEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            contract_document:
              $ref: '#/components/schemas/ContractDocument'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
