openapi: 3.2.0
info:
  title: Remote Payroll and Billing Company Currencies API
  description: 'Inspect payroll calendars, billing documents, incentives, expenses,

    payslips, and timesheets across Remote''s EOR, Global Payroll, PEO,

    and Contractor offerings. All financial events are exposed both

    via REST and via webhooks.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Company Currencies
  description: List currencies a company can be billed in
paths:
  /company_currencies:
    get:
      summary: List Company Currencies
      operationId: listCompanyCurrencies
      tags:
      - Company Currencies
      responses:
        '200':
          description: Currencies.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      currencies:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type: string
                            symbol:
                              type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
