openapi: 3.2.0
info:
  title: Remote Time and Attendance Leave Policies API
  description: 'Manage time off, leave policies, leave balances, and timesheets for

    employees on Remote.com. The API exposes both manager-driven and

    employee-driven flows and surfaces every state change via webhooks

    (requested, approved, declined, cancellation_requested, started,

    taken, etc.).'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Leave Policies
  description: Per-country leave policy definitions
paths:
  /leave_policies:
    get:
      summary: List Leave Policies
      operationId: listLeavePolicies
      tags:
      - Leave Policies
      parameters:
      - name: country_code
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Leave policies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeavePolicyList'
  /leave_policies/{leave_policy_id}:
    parameters:
    - name: leave_policy_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Show A Leave Policy
      operationId: showLeavePolicy
      tags:
      - Leave Policies
      responses:
        '200':
          description: Leave policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeavePolicyEnvelope'
components:
  schemas:
    LeavePolicyList:
      type: object
      properties:
        data:
          type: object
          properties:
            leave_policies:
              type: array
              items:
                $ref: '#/components/schemas/LeavePolicy'
    LeavePolicyEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            leave_policy:
              $ref: '#/components/schemas/LeavePolicy'
    LeavePolicy:
      type: object
      properties:
        id:
          type: string
          format: uuid
        country_code:
          type: string
        leave_type:
          type: string
        accrual_method:
          type: string
          enum:
          - annual
          - monthly
          - per_period
          - statutory
        annual_allowance:
          type: number
        unit:
          type: string
          enum:
          - days
          - hours
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
