openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Contract Eligibility API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Contract Eligibility
  description: Verify contractor-vs-employee classification
paths:
  /contract_eligibility:
    post:
      summary: Create A Contract Eligibility Check
      description: 'Submit a contractor classification check that returns a misclassification

        risk score and recommendations. Backed by Remote''s AI misclassification tooling.

        '
      operationId: createContractEligibility
      tags:
      - Contract Eligibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EligibilityCheckRequest'
      responses:
        '201':
          description: Eligibility result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityCheckResult'
  /contract_eligibility/legal_entities:
    get:
      summary: List Contractor Eligibility Legal Entities
      operationId: listContractorEligibilityLegalEntities
      tags:
      - Contract Eligibility
      responses:
        '200':
          description: Legal entities.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  schemas:
    EligibilityCheckRequest:
      type: object
      required:
      - country_code
      - work_relationship
      properties:
        country_code:
          type: string
        work_relationship:
          type: object
          additionalProperties: true
          description: Structured answers to the misclassification questionnaire.
    EligibilityCheckResult:
      type: object
      properties:
        data:
          type: object
          properties:
            risk_level:
              type: string
              enum:
              - low
              - medium
              - high
            risk_score:
              type: integer
              minimum: 0
              maximum: 100
            recommendation:
              type: string
              enum:
              - proceed_as_contractor
              - switch_to_eor
              - request_review
            findings:
              type: array
              items:
                type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
