openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Compliance API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Compliance
  description: Read compliance profiles and supported jurisdictions
paths:
  /companies/{company_id}/compliance_profile:
    parameters:
    - $ref: '#/components/parameters/CompanyIdPath'
    get:
      summary: Show Company Compliance Profile
      description: Returns the compliance profile for the company including hiring eligibility signals.
      operationId: showCompanyComplianceProfile
      tags:
      - Compliance
      responses:
        '200':
          description: Compliance profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceProfile'
  /companies/{company_id}/employment_onboarding_reserves_status:
    parameters:
    - $ref: '#/components/parameters/CompanyIdPath'
    get:
      summary: Show Employment Onboarding Reserves Status
      description: Inspect the reserve payment status used to gate new EOR hires for the company.
      operationId: showOnboardingReservesStatus
      tags:
      - Compliance
      responses:
        '200':
          description: Reserves status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservesStatus'
components:
  schemas:
    ReservesStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            reserve_payment_required:
              type: boolean
            reserve_amount:
              type: integer
              description: Amount in the smallest currency unit.
            reserve_currency:
              type: string
            status:
              type: string
              enum:
              - not_required
              - requested
              - paid
              - waived
    ComplianceProfile:
      type: object
      properties:
        data:
          type: object
          properties:
            hiring_eligibility_state:
              type: string
              enum:
              - pending
              - additional_information_required
              - referred
              - verified
              - denied
            reserves_required:
              type: boolean
            sanctioned_countries:
              type: array
              items:
                type: string
  parameters:
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
