openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Offboarding API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Offboarding
  description: Drive employee offboarding flows
paths:
  /offboardings:
    post:
      summary: Submit An Offboarding
      operationId: submitOffboarding
      tags:
      - Offboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OffboardingCreateRequest'
      responses:
        '201':
          description: Offboarding submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffboardingEnvelope'
  /offboardings/{offboarding_id}:
    parameters:
    - name: offboarding_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Show An Offboarding
      operationId: showOffboarding
      tags:
      - Offboarding
      responses:
        '200':
          description: Offboarding.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffboardingEnvelope'
components:
  schemas:
    OffboardingCreateRequest:
      type: object
      required:
      - employment_id
      - offboarding_type
      - last_day_of_work
      properties:
        employment_id:
          type: string
          format: uuid
        offboarding_type:
          type: string
          enum:
          - resignation
          - termination
          - end_of_contract
        last_day_of_work:
          type: string
          format: date
        reason_for_offboarding:
          type: string
        additional_information:
          type: object
          additionalProperties: true
    Offboarding:
      type: object
      properties:
        id:
          type: string
          format: uuid
        employment_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - submitted
          - review_started
          - submitted_to_payroll
          - completed
          - deleted
        offboarding_type:
          type: string
          enum:
          - resignation
          - termination
          - end_of_contract
        last_day_of_work:
          type: string
          format: date
        reason_for_offboarding:
          type: string
    OffboardingEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            offboarding:
              $ref: '#/components/schemas/Offboarding'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
