openapi: 3.2.0
info:
  title: Remote Time and Attendance Leave Balances API
  description: 'Manage time off, leave policies, leave balances, and timesheets for

    employees on Remote.com. The API exposes both manager-driven and

    employee-driven flows and surfaces every state change via webhooks

    (requested, approved, declined, cancellation_requested, started,

    taken, etc.).'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Leave Balances
  description: Per-employee leave balances
paths:
  /leave_balances:
    get:
      summary: List Leave Balances
      operationId: listLeaveBalances
      tags:
      - Leave Balances
      parameters:
      - name: employment_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Leave balances for the employment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      leave_balances:
                        type: array
                        items:
                          type: object
                          properties:
                            leave_type:
                              type: string
                            remaining_days:
                              type: number
                            used_days:
                              type: number
                            accrued_days:
                              type: number
                            unit:
                              type: string
                              enum:
                              - days
                              - hours
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
