openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Contractor Currencies API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Contractor Currencies
  description: List currencies available for contractor payments
paths:
  /contractor_currencies:
    get:
      summary: List Contractor Currencies
      operationId: listContractorCurrencies
      tags:
      - Contractor Currencies
      responses:
        '200':
          description: Currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyList'
components:
  schemas:
    Currency:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
    CurrencyList:
      type: object
      properties:
        data:
          type: object
          properties:
            currencies:
              type: array
              items:
                $ref: '#/components/schemas/Currency'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
