openapi: 3.2.0
info:
  title: Remote Companies Company Managers API
  description: 'Create and manage companies on the Remote.com platform. Customers and

    partners use this API to onboard new companies, retrieve compliance

    profiles, manage company managers and departments, configure SSO, and

    issue magic links for passwordless authentication.


    The Companies API is the entry point for every Remote integration. A

    company-scoped access token is required for nearly every other API call

    in the Remote ecosystem.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  termsOfService: https://remote.com/legal/terms
  license:
    name: Remote API Terms
    url: https://developer.remote.com/docs/api-terms
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Company Managers
  description: Manage administrators and managers within a company
paths:
  /companies/{company_id}/managers:
    parameters:
    - $ref: '#/components/parameters/CompanyIdPath'
    get:
      summary: List Company Managers
      operationId: listCompanyManagers
      tags:
      - Company Managers
      responses:
        '200':
          description: Managers list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagerList'
    post:
      summary: Create A Company Manager
      operationId: createCompanyManager
      tags:
      - Company Managers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagerCreateRequest'
      responses:
        '201':
          description: Manager created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagerEnvelope'
  /companies/{company_id}/managers/{manager_id}:
    parameters:
    - $ref: '#/components/parameters/CompanyIdPath'
    - $ref: '#/components/parameters/ManagerIdPath'
    get:
      summary: Show A Company Manager
      operationId: showCompanyManager
      tags:
      - Company Managers
      responses:
        '200':
          description: Manager record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagerEnvelope'
    delete:
      summary: Delete A Company Manager
      operationId: deleteCompanyManager
      tags:
      - Company Managers
      responses:
        '204':
          description: Manager deleted.
components:
  schemas:
    Manager:
      type: object
      required:
      - id
      - email
      - role
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum:
          - admin
          - manager
          - people_manager
          - finance_admin
          - owner
        status:
          type: string
          enum:
          - invited
          - active
          - deactivated
    ManagerList:
      type: object
      properties:
        data:
          type: object
          properties:
            company_managers:
              type: array
              items:
                $ref: '#/components/schemas/Manager'
    ManagerCreateRequest:
      type: object
      required:
      - email
      - role
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum:
          - admin
          - manager
          - people_manager
          - finance_admin
    ManagerEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            manager:
              $ref: '#/components/schemas/Manager'
  parameters:
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ManagerIdPath:
      name: manager_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Company-scoped or partner-scoped OAuth 2.0 access token.
