openapi: 3.2.0
info:
  title: Remote Companies Departments API
  description: 'Create and manage companies on the Remote.com platform. Customers and

    partners use this API to onboard new companies, retrieve compliance

    profiles, manage company managers and departments, configure SSO, and

    issue magic links for passwordless authentication.


    The Companies API is the entry point for every Remote integration. A

    company-scoped access token is required for nearly every other API call

    in the Remote ecosystem.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  termsOfService: https://remote.com/legal/terms
  license:
    name: Remote API Terms
    url: https://developer.remote.com/docs/api-terms
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Departments
  description: Manage company-defined departments and org structure
paths:
  /companies/{company_id}/departments:
    parameters:
    - $ref: '#/components/parameters/CompanyIdPath'
    get:
      summary: List Departments
      operationId: listDepartments
      tags:
      - Departments
      responses:
        '200':
          description: Departments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentList'
    post:
      summary: Create A Department
      operationId: createDepartment
      tags:
      - Departments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentCreateRequest'
      responses:
        '201':
          description: Department created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentEnvelope'
components:
  parameters:
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    DepartmentEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            department:
              $ref: '#/components/schemas/Department'
    DepartmentList:
      type: object
      properties:
        data:
          type: object
          properties:
            departments:
              type: array
              items:
                $ref: '#/components/schemas/Department'
    Department:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        parent_department_id:
          type: string
          format: uuid
          nullable: true
    DepartmentCreateRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        parent_department_id:
          type: string
          format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Company-scoped or partner-scoped OAuth 2.0 access token.
