openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Travel Letters API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Travel Letters
  description: Travel letter requests for employees moving across borders
paths:
  /travel_letter_requests:
    get:
      summary: List Travel Letter Requests
      operationId: listTravelLetterRequests
      tags:
      - Travel Letters
      responses:
        '200':
          description: Travel letter requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelLetterRequestList'
    post:
      summary: Create A Travel Letter Request
      operationId: createTravelLetterRequest
      tags:
      - Travel Letters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelLetterRequestEnvelope'
  /travel_letter_requests/{travel_letter_request_id}:
    parameters:
    - name: travel_letter_request_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Show A Travel Letter Request
      operationId: showTravelLetterRequest
      tags:
      - Travel Letters
      responses:
        '200':
          description: Travel letter request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelLetterRequestEnvelope'
    patch:
      summary: Update A Travel Letter Request
      operationId: updateTravelLetterRequest
      tags:
      - Travel Letters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelLetterRequestEnvelope'
components:
  schemas:
    TravelLetterRequestList:
      type: object
      properties:
        data:
          type: object
          properties:
            travel_letter_requests:
              type: array
              items:
                $ref: '#/components/schemas/TravelLetterRequest'
    TravelLetterRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        employment_id:
          type: string
          format: uuid
        destination_country:
          type: string
        purpose:
          type: string
        status:
          type: string
          enum:
          - requested
          - approved_by_manager
          - approved_by_remote
          - declined_by_manager
          - declined_by_remote
        travel_start_date:
          type: string
          format: date
        travel_end_date:
          type: string
          format: date
    TravelLetterRequestEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            travel_letter_request:
              $ref: '#/components/schemas/TravelLetterRequest'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
