openapi: 3.2.0
info:
  title: Remote Contractors COR Termination API
  description: 'Manage contractors and Contractor-of-Record (COR) subscriptions on

    Remote.com.'
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: COR Termination
  description: Terminate Contractor-of-Record engagements
paths:
  /contractors/{employment_id}/cor_termination:
    parameters:
    - $ref: '#/components/parameters/EmploymentIdPath'
    get:
      summary: Show COR Termination Request
      operationId: showCorTerminationRequest
      tags:
      - COR Termination
      responses:
        '200':
          description: Termination request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorTerminationRequestEnvelope'
    post:
      summary: Create COR Termination Request
      operationId: createCorTerminationRequest
      tags:
      - COR Termination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorTerminationRequestCreate'
      responses:
        '201':
          description: Termination created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorTerminationRequestEnvelope'
  /contractors/{employment_id}/terminate:
    parameters:
    - $ref: '#/components/parameters/EmploymentIdPath'
    post:
      summary: Terminate A Contractor Of Record Employment
      operationId: terminateContractorOfRecordEmployment
      tags:
      - COR Termination
      responses:
        '202':
          description: Termination submitted.
components:
  schemas:
    CorTerminationRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        employment_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - submitted
          - review_started
          - completed
          - canceled
        last_day_of_engagement:
          type: string
          format: date
        reason:
          type: string
    CorTerminationRequestEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            cor_termination_request:
              $ref: '#/components/schemas/CorTerminationRequest'
    CorTerminationRequestCreate:
      type: object
      required:
      - employment_id
      - last_day_of_engagement
      - reason
      properties:
        employment_id:
          type: string
          format: uuid
        last_day_of_engagement:
          type: string
          format: date
        reason:
          type: string
        additional_information:
          type: object
          additionalProperties: true
  parameters:
    EmploymentIdPath:
      name: employment_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
