openapi: 3.1.0
info:
  title: Remote Benefits Benefit Offers Departments API
  description: 'List, select, and renew localized employee benefits across the countries

    Remote supports. Benefit offers and renewal requests use JSON Schema

    forms that vary per country and employment.

    '
  version: '2026-05-22'
  contact:
    name: Remote API Support
    url: https://support.remote.com/
  x-logo:
    url: https://remote.com/favicon.ico
servers:
- url: https://gateway.remote.com/v1
  description: Production
- url: https://gateway.remote-sandbox.com/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Departments
  description: Manage company-defined departments and org structure
paths:
  /companies/{company_id}/departments:
    parameters:
    - $ref: '#/components/parameters/CompanyIdPath'
    get:
      summary: List Departments
      operationId: listDepartments
      tags:
      - Departments
      responses:
        '200':
          description: Departments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentList'
    post:
      summary: Create A Department
      operationId: createDepartment
      tags:
      - Departments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentCreateRequest'
      responses:
        '201':
          description: Department created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentEnvelope'
components:
  schemas:
    DepartmentEnvelope:
      type: object
      properties:
        data:
          type: object
          properties:
            department:
              $ref: '#/components/schemas/Department'
    Department:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        parent_department_id:
          type: string
          format: uuid
          nullable: true
    DepartmentList:
      type: object
      properties:
        data:
          type: object
          properties:
            departments:
              type: array
              items:
                $ref: '#/components/schemas/Department'
    DepartmentCreateRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        parent_department_id:
          type: string
          format: uuid
  parameters:
    CompanyIdPath:
      name: company_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
